._Wrapper {
  overflow: hidden;

  ._SlideItemWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

    padding: 80px 120px;

    min-height: 775px;

    > *:not(._Background) {
      max-width: 690px;

      text-shadow: 0 0 20px rgba(255, 255, 255, 0.507);
      &:nth-child(1) {
        margin-bottom: 25px;
      }

      &:nth-child(2) {
        margin-bottom: 29px;
      }
    }

    ._Background {
      position: absolute;
      top: 0;
      left: 0;

      z-index: -1;

      width: 100dvw;
      height: 100%;

      margin-left: calc((100dvw - 100%) / -2);

      filter: brightness(0.75);

      object-fit: cover;
    }
  }
}
