._Wrapper {
  padding-block: 30px 20px;

  a {
    &:not(:last-child) {
      &::after {
        content: " /";
      }
    }
    &:not(:first-child) {
      &::before {
        content: " ";
      }
    }
  }
}
