@use "styles/abstracts/variables" as v;

._SectionInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  padding-block: 16px;

  position: relative;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    transform: translateY(100%);

    width: 100dvw;

    margin-left: calc((100dvw - 100%) / -2);

    border-bottom: 1px solid v.$gray-3;
  }

  ._ContactWrapper,
  ._AccountWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }
}
