@use "variables" as v;

@mixin heading-1($weight: 500) {
  font-family: "Inter", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: $weight;
  line-height: 80px;
}

@mixin heading-2($weight: 500) {
  font-family: "Inter", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: $weight;
  line-height: 64px;
}

@mixin heading-3($weight: 400) {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: $weight;
  line-height: 60px;
}

@mixin heading-4($weight: 400) {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: $weight;
  line-height: 1.5em;
}

@mixin heading-5($weight: 400) {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: $weight;
  line-height: 38px;
}

@mixin heading-6($weight: 400) {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: $weight;
  line-height: 32px;
}

@mixin body-xs($weight: 400) {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: $weight;
  line-height: 18px;
}

@mixin body-sm($weight: 400) {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: $weight;
  line-height: 24px;
}

@mixin body-md($weight: 400) {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: $weight;
  line-height: 24px;
}

@mixin body-lg($weight: 400) {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: $weight;
  line-height: 28px;
}

@mixin body-xl($weight: 400) {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: $weight;
  line-height: 30px;
}
