@use "/styles//abstracts/typo-mixins" as t;
@use "/styles//abstracts/variables" as v;

._Wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;

  ._Container {
    &:not(:first-child) {
      border-top: 1px solid rgba(v.$gray-3, 0.25);

      padding-top: 28px;
    }

    &._Price {
      display: flex;
      flex-direction: column;
      gap: 12px;

      ._PriceWrapper {
        display: flex;
        align-items: center;
        gap: 40px;
      }
    }

    &._Quantity {
      display: flex;
      flex-direction: column;
      gap: 8px;

      ._InputWrapper {
        display: flex;
        align-items: center;
        gap: 8px;

        button,
        input {
          @include t.body-md;

          padding: 8px 12px;

          outline: none;
          border: 1px solid #57575774;

          min-width: 42px;
        }

        button {
          cursor: pointer;
        }

        input {
          appearance: none;

          text-align: center;

          width: 102px;

          &[type="number"] {
            -moz-appearance: textfield;
            appearance: textfield;

            -webkit-appearance: none;
            margin: 0;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
      }
    }

    &._Buttons {
      display: flex;
      gap: 32px;

      button {
        padding-block: 12px;
      }
    }
  }

  ._PopupWrapper {
    ._PopupHead,
    ._PopupBody ._OrderItem,
    ._PopupFoot {
      width: 626px;

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;

      ._Close {
        cursor: pointer;
      }
    }

    ._PopupBody ._OrderItem {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 16px;

      img {
        width: 100px;
        aspect-ratio: 1;

        object-fit: contain;

        border: 1px solid rgba($color: v.$gray-4, $alpha: 0.5);
      }

      ._TextWrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;

        ._Price {
          span {
            margin-left: 30px;

            text-decoration: line-through;
            font-size: 14px;
          }
        }
      }
    }

    ._PopupFoot {
      justify-content: flex-end;
    }
  }
}
