@use "styles/abstracts/variables" as v;
@use "styles/abstracts/mixins" as m;

._Wrapper {
  > div {
    padding-block: 20.5px 23px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;

    ._InputSearchWrapper {
      border: 1px solid #57575782;
      background-color: v.$white;

      position: relative;

      margin-left: auto;

      width: 330px;

      input {
        padding: 10px 12px;
        padding-right: 32px;

        border: none;
        outline: none;

        @include m.placeholder(color, #57575771);

        color: v.$gray-3;
      }

      span {
        position: absolute;
        top: 50%;
        right: 12px;

        transform: translateY(-50%);

        cursor: pointer;
      }
    }
  }
}
