@use "/styles/abstracts//variables" as v;
@use "/styles/abstracts//typo-mixins" as t;

._Wrapper {
  > div {
    padding-block: 28px 96px;

    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    h1 {
      width: 100%;
    }

    ._CheckoutForm {
      width: calc(100% - 570px - 32px);

      > div {
        &:nth-child(1) {
          margin-bottom: 32px;
        }

        &:nth-child(2) {
          margin-bottom: 16px;
        }
      }
    }

    ._TotalPrice {
      width: 570px;
    }
  }
}
